.listContainer {
  max-height: 450px;
  overflow-x: none;
  overflow-y: auto;
  margin: 20px;
  padding: 10px;
}
.ulContainer {
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: first baseline;
}
.emptyContainer {
  margin: 200px 30%;
  color: #ddd;
  font-style: italic;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  font-variant: small-caps;
  cursor: default;
}
